*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html, body{
    height:100%;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
}
.clear{clear:both;}
header{
    background-color:#D7D6D7;
    padding:10px 2%;
}
.logo-1{
    float: left;
    width: 160px;
    height: 60px;
    background-image: url('../images/logo-1.png');
    background-size: 100% 150%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius:50%;
}
.logo-2{
    float: right;
    width: 360px;
    height: 60px;
    background-image: url('../images/logo-2.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}
section.cover-form{
    width:100%;
    padding:0 2%;
}
.bg{
    height: 500px;
    background-position: center;
    background-size: cover;
    background-image: url('../images/form-bg.jpg')
}
.form-container{
    float: right;
    width: 400px;
    height: 100%;
    margin-right: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    
    
}
.form-container h2{
    text-align: center;
    font-weight: normal;
    background-color: rgb(234, 236, 239);
    padding: 15px;
    color: black;
    font-size: 18px;
}
.form-container form{
    margin-top:8px;
    padding:15px;
}
.form-container p{
    font-size: 14px;
    color: #525252;
}
.form-container form input[type=text]{
    width: 100%;
    border:1px solid #ccc;
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
}
.form-wraper:not(:first-child){
    margin-top:40px;
}
.form-wraper p:last-of-type{
    margin-top:-5px;
}
.form-container form input[type=submit]{
    background-color: #033c50;
    text-transform: uppercase;
    color: white;
    width: 100%;
    font-size: 20px;
    height: 50px;
    cursor: pointer;
    border: 0;
}
.form-container form input[type=submit]:hover{
    background-color: hwb(196 5% 35%);
}
section.chamada{
    width:1213px;
    max-width:100%;
    margin:0 auto;
    padding:40px 0;
    text-align: center;
    background-color:#D7D6D7;
}
section.chamada h2{
    display: inline-block;
    font-size:30px;
    color: white;
    text-shadow:0px 2px 4px rgba(0,0,0,0.9);
} 
section.chamada p{
    padding:10px 0;
    color:black;
} 
section.mosaico{
    display:flex;
    width:1213px;
    max-width:100%;
    margin:0 auto;
    background-color:#45403C;
    
}
.maravilha1, .maravilha2, .maravilha3, .maravilha4, .maravilha5, .maravilha6, .maravilha7{
    width:100%;
    margin:10px 0;
}
.container-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: left;
    width:40%;
    height:300px;
    
}
.container-text h2{
    width: 90%;
    margin:20px 0;
    padding:0 10px;
    font-size:27px;
    color: white;
}
.container-text p{
    width: 90%;
    text-align: justify;
    padding:0 20px;
    font-size: 18px;
    color:white;
}
section.mosaico img{
    width:60%;
    float: right;
    height:300px;
    background-color:#ccc;
}
.maravilha2 .container-text, .maravilha4 .container-text, .maravilha6 .container-text{
    float:right;
}
footer{
    text-align: center;
    padding:20px 0;
    background-color:#D7D6D7;
}
footer p{
    margin-top:8px;
}
footer a{
    text-decoration: none;
    color:blue;
}
footer img{
    border-radius:4px;
}

@media screen and ( max-width: 510px){
    header{
        text-align: center;
    }
    .logo-1, .logo-2{
        display: inline-block;
        float: none;
        margin-top:10px;
    }
    .form-container{
        float: none;
        width:90%;
        margin:0 auto;
    }
    section.mosaico img, .container-text{
        float:none;
        display:block;
        width:100%;
    }
    .container-text p, .container-text h2{
        width: 100%;
        
    }
}
@media screen and ( max-width: 768px){
    header{
        text-align: center;
    }
    .logo-1, .logo-2{
        display: inline-block;
        float: none;
        margin-top:10px;
    }
    .form-container{
        float: none;
        width:90%;
        margin:0 auto;
    }
    section.mosaico img, .container-text{
        float:none;
        display:block;
        width:100%;
    }
    .container-text p, .container-text h2{
        width: 100%;
        
    }
}